/* first, let's follow best practices and cancel out default margins with the universal selector */
* {
margin: 0;
}

/* now we can control our margins ourselves, so lets give the body a 50px margin on the left and right; and a 25px margin on the top and bottom.

can you write it in shorthand?*/

body {
   margin: 25px 50px;
}

/* Find a custom font on Google Fonts and add it to the HTML head and your CSS: make sure you add the links and the font-family */

/* Style the h1:
   10px margin on the bottom
   10px padding on the top and bottom
   15px padding on the right and left
   and a solid black border that is 1px thick
   center the text and make it uppercase in CSS (do not retype it as uppercase in your HTML)
   add a background color with 50% opacity
*/
h1, h2, p, li, a {
   font-family: "Goudy-Bookletter-1911", serif;
   font-weight: 400;
   font-style: normal;
}

h1 {
   margin-bottom: 10px;
   padding: 10px, 15px;
   border: solid, black, 1px;
   text-align: center;
   text-transform: uppercase;
   background-color: rgba(0, 255, 13, 0.5);
}

h2 {
   margin-top: 2.5%;
   margin-bottom: 2.55%;
   background-color: yellow;
   color: black;
   padding: 3px 4px 2px 1px;
   border: dotted, 4px, green;
}

p {
   background-color: blue;
   color: white;
   padding: 10px;
   border: dashed, 2px, black;
   display: inline;
}

code {
   background-color: white;
   color: green;
   padding: 2px;
   border: dotted, purple, 1px
}

li {
   background-color: green;
   color: white;
   padding: 4px;
   border: solid, red, 1px;
   text-decoration: none;
}

a {
   background-color: yellow;
   color: black;
   size: 36px;
   text-decoration: none;
   display: block;
}




